/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Login Style */

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(../assets/clouds1.jpeg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 0 20px 0 20px;
}

.header h1 {
    color: #286090;
}

/* Login Form */

#login-form {
    max-width: 350px;
    padding: 20px 20px 10px 20px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    margin-bottom: 15vh;
}

#login-form input[type=text], input[type=password] {
    margin-top: 10px;
}

#loginButton {
    margin-bottom: 5px;
}

#login_register_btn {
    margin: 0 10px 0 10px;
}

/* Sign Up Form */

#sign-up-form {
    max-width: 350px;
    padding: 20px 20px 10px 20px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    margin-bottom: 15vh;
}

#sign-up-form input[type=text], input[type=password] {
    margin-top: 10px;
}

#signUpButton {
    margin-top: 20px;
    margin-bottom: 10px;
}

#back-home-button {
    margin: 0;
}
