/* Global Styles */

html,
body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #286090;
}

.row {
    margin: 0;
}


/* Main Container */

.container-fluid{
    min-height: 100vh;
    display: table;
    width: 100%;
    padding: 0;
    margin-bottom: -50px;
}

.row-fluid {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}


/* Reset Message */

.reset-message {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}


/* Forms */

form {
    border: 1px solid #286090;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 70px;
}

form h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

#login-form {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

#sign-up-form {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

#reset-form {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.input-group-addon {
    background-color: #fff;
    color: #286090;
    padding: .5rem .5rem;
    font-size: 1rem;
    line-height: 1.25;
}

.input-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-block {
    margin-top: 20px;
    margin-bottom: 5px;
}

.link-row a {
    width: 50%;
}


/* Navbar */

#bg-primary {
    background-color: #286090!important;
    padding: 10px 20px 10px 30px;
}

@media (min-width: 1092px) {
    #bg-primary {
        padding: 10px 70px;
    }
}

.nav-form {
    border: none;
    padding: 0 .5rem;
    border-radius: 0;
    margin-bottom: 0;
}

.nav-form .btn-link,
.nav-item a {
    text-decoration: none;
    color: rgba(255,255,255,.5);
    cursor: pointer;
}

.nav-form .btn-link:hover,
.nav-item a:hover {
    text-decoration: none;
    color: rgba(255,255,255,1);
}

.navbar-brand {
    padding-right: 50px;
    line-height: 50px;
}

.btn-link {
    margin-left: auto;
    margin-right: auto;
}

.navbar-toggler-right {
    height: 50px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.navbar-inverse .navbar-toggler:focus {
    outline: none;
}

.navbar-collapse.collapse.in {
    display: block!important;
}


/* Thermostats Page */

#applyButton {
    cursor: pointer;
}

.page-header {
    margin: 2vh auto;
}

.container-with-header {
    padding-top: 80px;
    max-width: 1000px;
    padding-bottom: 50px;
}

@media (max-width: 767px) {
    .thermostat-div {
        padding: 10px 20px !important;
    }
}

.thermostat-div {
    padding: 10px;
}

.thermostat {
    border: 1px solid #286090;
    border-radius: 10px;
    padding: 15px;
}

.thermostat.green-shadow {
    box-shadow: 3px 3px 5px rgba(0, 160, 0, 0.5),
                -3px -3px 5px rgba(0, 160, 0, 0.5);
}

.thermostat.red-shadow {
    box-shadow: 3px 3px 5px rgba(160, 0, 0, 0.5),
                -3px -3px 5px rgba(160, 0, 0, 0.5);
}

.thermostat.green-shadow:hover {
    box-shadow: 3px 3px 5px rgba(0, 160, 0, 0.8),
                -3px -3px 5px rgba(0, 160, 0, 0.8);
}

.thermostat.red-shadow:hover {
    box-shadow: 3px 3px 5px rgba(160, 0, 0, 0.8),
                -3px -3px 5px rgba(160, 0, 0, 0.8);
}

.thermostat a {
    text-decoration: none;
    color: #286090;
}

.location-heading,
.temp-heading {
    margin-bottom: 20px;
}

.green-shadow {

}


/* links under forms */

#back-home-button,
#back-home-button:focus,
#sign_up_link,
#sign_up_link:focus,
#reset_password_link,
#reset_password_link:focus {
    color: #0275d8;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

.nav-button,
.nav-button:focus {
    text-decoration: none;
    outline: none!important;
    box-shadow: none!important;
    cursor: pointer;
}

#deleteButton,
#deleteButton:focus,
#cancelButton,
#cancelButton:focus {
    color: #fff;
    border-radius: .3rem;
    -webkit-appearance: none;
}


/* Edit Thermostats */

.btn-group.col-12 {
    padding: 0 50px;
}

.on-label,
.on-label:hover {
    background-color: #7EABFF;
    border-color: #7EABFF;
    cursor: pointer;
    box-shadow: none;
    z-index: 0!important;
    margin-left: 0px;
}

.on-label.active,
.on-label.active:focus {
    font-weight: bold;
    background-color: #025aa5;
    border-color: #01549b;
    box-shadow: none;
}

.off-label,
.off-label:hover {
    background-color: #ff837b;
    border-color: #ff837b;
    cursor: pointer;
    box-shadow: none;
    z-index: 0!important;
    margin-left: 0px;
}

.off-label.active,
.off-label.active:focus {
    font-weight: bold;
    background-color: #c9302c;
    border-color: #c12e2a;
    box-shadow: none;
}

.toggle-handle {
    background-color: white;
    border-width: 0 1px;
    border-color: #adadad;
}

.toggle-on {
}

.toggle-off {
    color: #333;
    background-color: #e6e6e6;
    border-left: 1px;
    border-color: #adadad;
}


/* Footer */

footer {
    height: 50px;
    color: #286090;
}

footer p {
    margin: 0;
    line-height: 50px;
}